* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
	display: grid;
	width: 100%;
	height: 100px;
	background-color: red;
	justify-items: center;
	align-items: center;
}

.nav {
	display: grid;
	position: sticky;
	width: 100%;
	height: 60px;
	background-color: black;
	grid-template: 100% / repeat(3, 1fr);
	top: 0;
	justify-items: center;
	align-items: center;
}

.nav p {
	color: white;
	width: 6em;
	text-align: center;
	
}

.main {
	display: block;
	width: 100%;
	height: 2000px;
	background-color: blue;
	
}

.main h2 {
	font-style: italic;
}

.main p {
	display: inline-block;
	width: 350px;
	text-align: center;
	padding-bottom: 20px;
}

#about {
	padding-top: 60px;
	text-align: center;
}

#rel-exp{
	padding-top: 60px;
	text-align: center;
}

#other-exp {
	padding-top: 60px;
	text-align: center;
}