* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Nunito';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: local('Nunito Italic'), local('Nunito-Italic'), url(https://fonts.gstatic.com/s/nunito/v12/XRXX3I6Li01BKofIMNaDRs7nczIH.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Nunito Regular'), local('Nunito-Regular'), url(https://fonts.gstatic.com/s/nunito/v12/XRXV3I6Li01BKofINeaBTMnFcQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Nunito Bold'), local('Nunito-Bold'), url(https://fonts.gstatic.com/s/nunito/v12/XRXW3I6Li01BKofAjsOUYevIWzgPDA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Overpass';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Overpass Regular'), local('Overpass-Regular'), url(https://fonts.gstatic.com/s/overpass/v4/qFdH35WCmI96Ajtm81GlU9vgwBcI.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Overpass';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Overpass Bold'), local('Overpass-Bold'), url(https://fonts.gstatic.com/s/overpass/v4/qFdA35WCmI96Ajtm81keds7N4hoiiVI6.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Varela Round';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Varela Round Regular'), local('VarelaRound-Regular'), url(https://fonts.gstatic.com/s/varelaround/v12/w8gdH283Tvk__Lua32TysjIfp8uPLdshZg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

.header {
	display: grid;
	width: 100%;
	height: 100px;
	background-color: white;
	justify-items: center;
	align-items: center;
	border: thick solid black;
}

.header h1 {
	font-family: "Overpass", sans-serif;
	font-weight: 700;
	font-size: 38px;
	cursor: default;
}

.nav {
	display: grid;
	position: sticky;
	width: 100%;
	height: 50px;
	grid-template: 100% / repeat(4, 1fr);
	top: 0;
	justify-items: center;
	align-items: center;
	grid-column-gap: 6px;
	border: thick solid black;
	background-color: white;
}

a {
	width: inherit;
	height: inherit;
}

a .nav-btn:hover {
	color: #c41e3a; /* Cardinal Red */
}

.nav-btn {
	font-family: "Overpass", sans-serif;
	font-size: 19px;
	background-color: black;
	color: white;
	text-align: center;
	
	
}

.nav-btn p {
	display: inline-block;
	line-height: 18px;
	width: 6em;
}

/* nav button single word */
.nb-single {
	padding: 14px 0;
}

.main {
	display: block;
	width: 100%;
	height: 2000px;
	background-color: white;
	border: thick solid black;
	cursor: default;
}

.main h2 {
	font-family: "Overpass", sans-serif;
	font-style: italic;
	font-size: 32px;
}

.main h3 {
	margin: 10px auto;
	max-width: 800px;
	font-family: "Nunito", sans-serif;
	font-style: italic;
}

.main p {
	margin: 20px auto;
	padding-bottom: 20px;
	max-width: 600px;
	text-align: left;
	font-family: "Nunito", sans-serif;
}

.year-grid {

}

#education, #rel-exp, #other-exp {
	padding-top: 60px;
	padding-left: 15px;
}

#objective {
	display: grid;
	grid-template: 100% / 3fr 1fr;
	padding-top: 60px;
	padding-left: 15px;
}

#objective p {
	max-width: 450px;
	margin 20px auto;
}

#objective img {
	float: right;
	width: 150px;
	height: 150px;
}